html {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

    height: 100%;
    min-height: 100%;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

    height: 100%;
    min-height: 100%;
}

@keyframes backgroundAnim {
    0% {
        transform: scale(1.2) translate(-50px, 0px);
    }
    25% {
        transform: scale(1.1) translate(-25px, 0px);
    }
    50% {
        transform: scale(1.0) translate(0px, 0px);
    }
    75% {
        transform: scale(1.1) translate(-25px, 0px);
    }
    100% {
        transform: scale(1.2) translate(-50px, 0px);
    }
}

div#bg {
    width: 120%;
    height: 120%;
    position: absolute;
    z-index: 0;

    background-size: cover;
    background-position: center;

    background-color: #000000;
    transition: background-image 5s ease-in-out;
    background-image: url('img/bg0.jpg');

    animation-name: backgroundAnim;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 45s;
}

div#bgOver {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

canvas {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    z-index: 1;
}

body.lastViz0 #transition, body.viz0 #canvas, body.viz0 #canvas3d {
    mix-blend-mode: normal;
}

body.lastViz3 #transition, body.viz3 #canvas, body.viz3 #canvas3d {
    mix-blend-mode: screen;
}

body.lastViz4 #transition, body.viz4 #canvas, body.viz4 #canvas3d {
    mix-blend-mode: lighten;
}

body.lastViz5 #transition, body.viz5 #canvas, body.viz5 #canvas3d {
    mix-blend-mode: hue;
}

body.lastViz6 #transition, body.viz6 #canvas, body.viz6 #canvas3d {
    mix-blend-mode: lighten;
}

body.lastViz7 #transition, body.viz7 #canvas, body.viz7 #canvas3d {
    mix-blend-mode: normal;
}

.login {
    position: absolute;
    right: 10px;
    top: 10px;
    font: 8pt Arial;
    color: rgba(255,255,255,0.33);
}

.biglogin {
    display: none;
    position: absolute;
    z-index: 99;
    top: 50%;
    width: 100%;
    text-align: center;
}

.biglogin a {
    margin: 0 auto;
    font: 18pt "Helvetica Neue", "Helvetica", Arial;
    padding: 20px 40px;
    border-radius: 100px;
    background-color: rgb(30,200,20);
    box-shadow: 0 0 100px rgba(30,230,20,0.9);
    color: #fff;
    display: inline-block;
    text-align: center;;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.biglogin a:hover {
    transform: scale(1.1);
}

div.toast {
    background-color: rgba(0,0,0,0.35);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 40px;
    padding-top: 15px;
    transform: translateY(100px);
    transition: all 1.0s ease-in-out;
    opacity: 0.0;
    z-index: 99;
}

div.toast.visible {
    transform: translateY(0);
    opacity: 1.0;
}

div.toast #text {
    display: block;
    font-size: 25pt;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    color: #fff;
}

div.toast #text2 {
    display: block;
    font-size: 15pt;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    color: #ccc;
}

div.trackposition {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    height: 5px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    z-index: 100;
}

div.trackposition div.fill {
    transition: width 1.0s linear;
    background-color: #1ed660;
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 10px;
}
